@import url("https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap");

/* font-family: "Pixelify Sans", sans-serif; */

.title {
  font-family: "Pixelify Sans", sans-serif;
  color: #dfb891;
  font-size: 130px;
  cursor: default;
  letter-spacing: 3px;
  text-shadow: 0 1px 0 #f7decb, 0 2px 0 #f7decb, 0 3px 0 #f1d3bc,
    0 4px 0 #ebc9ae, 0 5px 0 #e6bfa2, 0 6px 0 #dfb891, 0 7px 0 #d9ab81,
    0 7px 8px #d6a77c;
}

.home-page {
  width: 900px;
  height: 500px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-image: url("../assets/bg-1.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  border: 1px solid #cea782;
  border-radius: 10px;
  position: relative;
  margin: 10px;
}

button {
  padding: 10px 90px;
  font-size: 20px;
  margin-top: 20px;
  background: #151414;
  border: 1px solid #dfb891;
  color: #dfb891;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: inset 0 1px 0 0 #fbe9db, 0 1px 0 0 #f7decb, 0 2px 0 0 #f1d3bc,
    0 4px 0 0 #ebc9ae, 0 5px 0 0 #e6bfa2, 0 6px 0 0 #dfb891, 0 7px 0 0 #d9ab81,
    0 7px 8px 0 #d6a77c;
  transition: all 250ms;
}

button:hover {
  transform: translateY(4px);
  box-shadow: inset 0 1px 0 0 #fbe9db, 0 1px 0 0 #f7decb, 0 1px 0 0 #f1d3bc,
    0 2px 0 0 #ebc9ae, 0 2px 0 0 #e6bfa2, 0 3px 0 0 #dfb891, 0 4px 0 0 #d9ab81,
    0 4px 6px 0 #d6a77c;
}

img {
  position: absolute;
  z-index: -500;
  border: 1px solid #cea782;
  border-radius: 10px;
  max-width: 900px;
  width: 100%;
}
